.sidenav{
	position:  fixed;
	left:  0; /*allows to stick to the side of the browser*/
	bottom:  0; /*allow to stick to the bottom of the browser*/
	top:  64px; /*allows to move down 65px from the top ofthe browser which is the height of out header*/
	background-color: white; /*as fixed elements flot on pages*/

	width: 88px;

	background-color: white;
	border-bottom-width:  0px;
	border-bottom-style: solid;
	box-sizing: border-box;
	z-index:  100;
}


.sidenavsections{
display: inline-block;
height: 80px;
width: 88px;
border-width: 0px;
border-left-width: 0px;
align-items: center;
cursor: pointer;
}


.sidenavsections:hover {
	background-color: #E5E5E5;
}



.iconhome{
  width: 30px;
  height:28px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 20px;
}

.text{
display: inline-block;
height: 25px;
width: 88px;
font-size: 12px;
text-align: center;
}






